* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*todos los body*/
body {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

.bodyGrid {
  display: grid;
  grid-template-areas: ". header header ." "nav nav nav nav" ". main main ." ". section section ." ". banner banner ." "footer footer footer footer";
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 18vh 10vh 1fr 1fr 0.1fr 0.3fr;
}

.gridEquipos {
  display: grid;
  grid-template-areas: ". header header ." "nav nav nav nav" ". section section ." ". banner banner ." "footer footer footer footer";
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 18vh 10vh 0.5fr 25vh 25vh;
}

.gridSedes {
  display: grid;
  grid-template-areas: ". header header ." "nav nav nav nav" ". section section ." ". banner banner ." "footer footer footer footer";
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 18vh 10vh 1fr 25vh 25vh;
}

.gridSerie {
  display: grid;
  grid-template-areas: ". header header ." "nav nav nav nav" ". main main ." ". section section ." ". banner banner ." "footer footer footer footer";
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 18vh 10vh 0.5fr 1fr 25vh 25vh;
}

.gridContacto {
  display: grid;
  grid-template-areas: ". header header ." "nav nav nav nav" ". main main ." ". banner banner ." "footer footer footer footer";
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 18vh 10vh 1fr 25vh 25vh;
}

/*HEADER*/
header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoHeader {
  padding-top: 1.15%;
  padding-left: 1.15%;
  height: 100%;
  width: fit-content;
}

.logoHeader img {
  width: fit-content;
  height: 80%;
}

.redesSociales {
  text-align: center;
  align-self: center;
  width: 35%;
}

.redesSociales ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.redesSociales li {
  list-style-type: none;
}

.redesSociales a i {
  color: rgb(0, 36, 79);
  font-size: 180%;
}

.redesSociales a i:hover {
  color: rgb(51, 122, 183);
  font-size: 240%;
  transition: all 200ms ease;
}

/*NAVEGADOR*/
nav {
  background-color: #00244f;
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-content: center;
  position: sticky;
  top: -2px;
  z-index: 2;
}
nav .listaNav {
  list-style-type: none;
  text-decoration: none;
  font-size: 120%;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0%;
}

nav li {
  background-color: #00244f;
  list-style-type: none;
  align-self: center;
  justify-self: center;
}

nav li a {
  text-decoration: none;
  color: #ffffff;
}

nav li a:hover {
  color: rgb(51, 122, 183);
  font-size: 120%;
  transition: all 300ms ease;
}

nav li a i:hover {
  font-size: 120%;
}

/*MAIN DEL INDEX*/
main {
  padding-top: 20px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main1 {
  height: auto;
  text-align: center;
  color: #00244f;
  margin-bottom: 15px;
}
.main1 .tituloPag {
  margin-top: 80px;
  margin-bottom: 80px;
}
.main1 .tituloIndex {
  margin-top: 0px;
  margin-bottom: 0px;
}

.main2 {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.main2 .mainIzq {
  padding-right: 2%;
  width: 60%;
  height: auto;
}
.main2 .mainIzq .carrusel {
  overflow: hidden;
}
.main2 .mainIzq .carrusel ul {
  display: flex;
  animation: cambio 10s linear infinite;
  width: 400%;
  height: 100%;
  margin-bottom: 0;
  padding-left: 0;
}
.main2 .mainIzq .carrusel ul li {
  width: 25%;
  list-style: none;
}
.main2 .mainIzq .carrusel ul li img {
  width: 100%;
  height: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.mainDer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.mainDer .multimedia {
  width: 100%;
  height: 45%;
}
.mainDer .multimedia iframe {
  width: 100%;
  height: 100%;
}
.mainDer .mainTitulares {
  overflow: hidden;
  height: auto;
}
.mainDer .mainTitulares h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
  color: #00244f;
}
.mainDer .mainTitulares .titulares {
  height: max-content;
}
.mainDer .mainTitulares .titulares .listaTitular {
  height: fit-content;
}
.mainDer .mainTitulares .titulares .listaTitular li {
  width: auto;
  height: auto;
  white-space: nowrap;
  list-style-position: inside;
  list-style-type: disc;
  overflow: hidden;
  padding-bottom: 0%;
}
.mainDer .mainTitulares .titulares .a1 {
  color: #00244f;
}
.mainDer .mainTitulares .titulares .a1 a:hover {
  color: #003576;
  font-size: large;
}
.mainDer .mainTitulares .titulares .b1 {
  color: rgb(51, 122, 183);
}
.mainDer .mainTitulares .titulares .b1 a:hover {
  color: #003576;
  font-size: large;
}
.mainDer .mainTitulares .titulares .c1 {
  color: #c7c7c7;
}
.mainDer .mainTitulares .titulares .c1 a:hover {
  color: #003576;
  font-size: large;
}
.mainDer .mainTitulares .titulares li a {
  color: black;
  text-decoration: none;
}

/*MAIN SERIE DEL CARIBE*/
.mainCaribe {
  display: flex;
  flex-direction: column;
}
.mainCaribe .tituloPagina {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  color: #00244f;
}
.mainCaribe #videoMain2 {
  height: 600px;
  width: 100%;
  margin-bottom: 35px;
}
.mainCaribe .texto p {
  font-size: x-large;
  margin-bottom: 80px;
}

/*MAIN CONTACTO*/
.mainContacto {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.mainContacto .tituloContacto {
  text-align: center;
  margin-top: 60px;
  color: #00244f;
}
.mainContacto .formulario {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.mainContacto .formulario .formContacto {
  width: 35%;
}

/*SECTION*/
.sectionIndex {
  grid-area: section;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 80px;
  height: auto;
}
.sectionIndex .hr img {
  width: 100%;
  height: 10%;
}

.sectionSuperior {
  display: flex;
  flex-direction: row;
  height: 99%;
  width: 100%;
  margin-bottom: 35px;
}
.sectionSuperior .sectionTabla {
  width: 100%;
  height: 85%;
}
.sectionSuperior .sectionTabla h2 {
  text-align: center;
  color: #00244f;
  margin-bottom: 10px;
}
.sectionSuperior .sectionTabla img {
  width: 100%;
  height: 90%;
}
.sectionSuperior .sectionTabla #tablaPosicion1 {
  height: 55%;
}

/*SECCION EQUIPOS*/
.sectionEquipos {
  grid-area: section;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.sectionEquipos .tituloPaginaEquipos {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 20px;
  color: #00244f;
}
.sectionEquipos .textoEquipos {
  font-size: larger;
}
.sectionEquipos .cardEquipos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 60px;
}
.sectionEquipos .cardEquipos .card {
  width: 30%;
  height: auto;
  margin: 30px 0 80px 0;
  box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.92);
  -webkit-box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.92);
}
.sectionEquipos .cardEquipos .card .cajaBotones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sectionEquipos .cardEquipos .card button a {
  color: #003576;
  text-decoration: none;
}
.sectionEquipos .hr img {
  width: 100%;
}

/*SECCION SEDES*/
.sectionSedes {
  grid-area: section;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sectionSedes .tituloPagina {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  color: #00244f;
}
.sectionSedes .texto p {
  font-size: x-large;
  margin-bottom: 80px;
}
.sectionSedes .card {
  width: 40%;
  height: 30%;
  margin: 30px 0 30px 0;
  height: fit-content;
  box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.92);
  -webkit-box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.92);
}
.sectionSedes .card img {
  width: 100%;
  height: auto;
}
.sectionSedes .card .card-title a {
  text-decoration: none;
  font-size: medium;
  color: #003576;
}
.sectionSedes .card p {
  font-size: small;
}
.sectionSedes .card .cajaBotones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sectionSedes .card button a {
  color: #003576;
  text-decoration: none;
}

/*SECCION SERIE DEL CARIBE*/
.sectionSerie {
  grid-area: section;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.sectionSerie .sectionSerieTitulo {
  text-align: center;
  height: 5%;
  margin-bottom: 80px;
  margin-top: 50px;
}
.sectionSerie .sectionSerieTitulo h2 {
  color: #00244f;
}
.sectionSerie .sectionRepresentantes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sectionSerie .sectionRepresentantes .equipoPais {
  width: 40%;
  margin-bottom: 120px;
  height: 260PX;
  box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.92);
  -webkit-box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.92);
  border: 1px solid #cacaca;
  border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
}
.sectionSerie .sectionRepresentantes .equipoPais .banderaPais {
  background-color: rgba(0, 53, 118, 0.5058823529);
  height: 15%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0%;
}
.sectionSerie .sectionRepresentantes .equipoPais .banderaPais a img:hover {
  height: 105%;
  width: 125%;
}
.sectionSerie .sectionRepresentantes .equipoPais .banderaPais:hover {
  height: 15%;
}
.sectionSerie .sectionRepresentantes .equipoPais .banderaPais a img {
  width: 100%;
  height: 100%;
}
.sectionSerie .sectionRepresentantes .equipoPais .card {
  border-radius: 0px 0px 7px 7px;
  -webkit-border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
}
.sectionSerie .sectionRepresentantes .equipoPais .card .col-md-4 img {
  z-index: -2;
}
.sectionSerie .sectionRepresentantes .equipoPais .card .img-fluid {
  margin-top: 35px;
}
.sectionSerie .sectionRepresentantes .equipoPais .card .card-body iframe {
  width: 100%;
}

/*BANNER*/
.banner {
  grid-area: banner;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.banner .publicidad {
  padding-top: 30px;
  align-self: center;
  width: 15%;
  height: 100%;
}
.banner .publicidad .pub1 {
  height: 70%;
  align-self: center;
}
.banner img {
  align-self: center;
  width: 100%;
}

/*FOOTER*/
footer {
  background-color: #00244f;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
footer .logoLigaFooter {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-self: center;
  height: 80%;
}
footer .logoLigaFooter .imagenFooter {
  padding-top: 1%;
  width: auto;
  height: 100%;
}
footer .logoLigaFooter .imagenFooter a img {
  max-width: 100%;
  max-height: 90%;
  justify-content: center;
  align-content: center;
}
footer .copyright {
  color: rgb(255, 255, 255);
  font-size: 10px;
  text-align: center;
  padding-top: 0.7%;
  height: 20%;
}

/*RESOLUCION DE 1024PX*/
@media screen and (max-width: 1024px) {
  .bodyGrid {
    height: fit-content;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 12vh 10vh 1fr 0.5fr 30vh 25vh;
  }
  .redesSociales a i {
    font-size: 90%;
  }
  .redesSociales a i:hover {
    font-size: 130%;
  }
  nav li a {
    font-size: medium;
  }
  .main {
    margin-top: 15px;
  }
  .tituloPag {
    font-size: x-large;
  }
  .main2 {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main2 .mainIzq {
    width: 100%;
    padding-right: 0;
    height: fit-content;
  }
  .main2 .mainDer {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .main2 .mainDer .multimedia {
    height: 400px;
  }
  .main2 .mainDer .mainTitulares .titulares {
    overflow: hidden;
  }
  .main2 .mainDer .mainTitulares .listaTitular li {
    width: auto;
    white-space: normal;
    list-style-position: inside;
    list-style-type: disc;
    overflow: hidden;
    padding-bottom: 1%;
  }
  .main2 .mainDer .mainTitulares h2 {
    margin-top: 10%;
    text-align: center;
  }
  /*MAIN SERIE DEL CARIBE*/
  .gridSerie {
    grid-template-rows: 18vh 10vh 0.2fr 1fr 18vh 25vh;
  }
  .mainCaribe .tituloPagina {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .mainCaribe #videoMain2 {
    height: 400px;
  }
  .mainCaribe .texto p {
    font-size: medium;
  }
  /*main contacto*/
  .mainContacto .formulario {
    margin-top: 80px;
  }
  .mainContacto .formulario .formContacto {
    width: 100%;
    padding: 0 2% 0 2%;
  }
  /*section index*/
  .subtituloTabla {
    font-size: x-large;
  }
  .subtituloTabla img {
    height: auto;
  }
  /*section equipos*/
  .gridEquipos {
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 12vh 10vh 0.5fr 18vh 25vh;
  }
  .sectionEquipos .tituloPaginaEquipos {
    text-align: center;
    margin-bottom: 30px;
  }
  .sectionEquipos .cardEquipos .card {
    width: 100%;
    margin-bottom: 100px;
  }
  /*section sedes*/
  .gridSedes {
    grid-template-rows: 18vh 10vh 85% 18vh 25vh;
  }
  .sectionSedes .textoSedes p {
    font-size: larger;
  }
  .sectionSedes .card {
    width: 40%;
    height: auto;
  }
  /*section serie del caribe*/
  .sectionSerie .sectionRepresentantes {
    flex-direction: column;
  }
  .sectionSerie .sectionRepresentantes .equipoPais {
    width: 100%;
    margin-bottom: 80px;
    height: 300px;
  }
}
/*RESOLUCION DE 768PX*/
@media screen and (max-width: 768px) {
  .bodyGrid {
    grid-template-areas: "header" "nav" "main" "section" "banner" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 5.5% 10vh 30% 55% 5% 6%;
  }
  .header {
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .header .logoHeader {
    align-self: center;
    margin-bottom: 10px;
  }
  .header .redesSociales {
    width: 75%;
  }
  .header .redesSociales ul {
    padding-left: 0px;
  }
  .header .redesSociales a i {
    font-size: 90%;
  }
  .header .redesSociales a i:hover {
    font-size: 120%;
  }
  nav li a {
    font-size: small;
  }
  nav li a:hover {
    font-size: 80%;
  }
  nav .listaNav {
    width: 100%;
    padding-left: 0;
  }
  .main {
    height: fit-content;
    padding: 0 10% 0 10%;
  }
  .main .main1 .tituloPag {
    font-size: small;
  }
  .main .main2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .main .main2 .mainDer .multimedia {
    height: fit-content;
  }
  .main .main2 .mainDer .multimedia iframe {
    height: 200px;
  }
  .main .main2 .mainDer .mainTitulares .titulares {
    height: auto;
  }
  .main .main2 .mainDer .mainTitulares .titulares .listaTitular {
    height: fit-content;
    padding: 0;
  }
  .main .main2 .mainDer .mainTitulares .titulares .listaTitular li {
    width: auto;
    height: auto;
    white-space: nowrap;
    list-style-position: inside;
    list-style-type: disc;
    overflow: visible;
    padding: 0%;
    font-size: smaller;
  }
  .gridEquipos {
    grid-template-areas: "header" "nav" "section" "banner" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 2.65% 10vh 0.5fr 3% 6%;
  }
  .gridContacto {
    grid-template-areas: "header" "nav " "main" "banner" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 11% 10vh 70% 7% 6%;
  }
  /*MAIN CARIBE*/
  .gridSerie {
    grid-template-areas: "header" "nav" "main" "section" "banner" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 3.75% 10vh 13% 77% 2.5% 6%;
  }
  .mainCaribe {
    padding: 0 10% 0 10%;
  }
  .mainCaribe .tituloPagina {
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mainCaribe #videoMain2 {
    height: 200px;
  }
  .mainCaribe .texto p {
    font-size: x-small;
  }
  /*MAIN CONTACTO*/
  .mainContacto {
    padding-top: 0px;
  }
  .mainContacto .tituloContacto {
    margin: 20px 0 20px 0;
  }
  .mainContacto .formulario {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainContacto .formulario .logoFormulario img {
    width: 100%;
  }
  .mainContacto .formulario .formContacto {
    width: 100%;
    padding: 0 10% 0 10%;
  }
  /*section index*/
  .sectionSuperior {
    flex-direction: column;
    padding: 0 10% 0 10%;
  }
  .sectionTabla {
    margin-bottom: 60px;
  }
  #tablaPosicion {
    width: 100%;
  }
  /*section equipos*/
  .sectionEquipos {
    margin: 0;
    padding: 0 10% 0 10%;
  }
  .sectionEquipos .tituloPaginaEquipos {
    text-align: center;
    margin: 20px 0 20px 0;
  }
  .sectionEquipos .textoEquipos p {
    font-size: x-small;
  }
  .sectionEquipos .cardEquipos .card {
    width: 100%;
    overflow: hidden;
  }
  .sectionEquipos .cardEquipos .card .card-title {
    font-size: small;
  }
  .sectionEquipos .cardEquipos .card .card-text {
    font-size: x-small;
  }
  .sectionEquipos .cardEquipos .card .list-group-item {
    font-size: xx-small;
  }
  /*section sedes*/
  .gridSedes {
    display: grid;
    grid-template-areas: "header" "nav" "section" "banner" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 2.8% 10vh 95% 15vh 28vh;
  }
  .sectionSedes {
    padding: 0 10% 0 10%;
  }
  .sectionSedes .tituloPagina {
    margin: 20px 0 20px 0;
  }
  .sectionSedes .textoSedes p {
    font-size: x-small;
    margin-bottom: 30px;
  }
  .sectionSedes .card {
    width: 100%;
    height: auto;
  }
  /*SECTION SERIE DEL CARIBE*/
  .sectionSerie {
    padding: 0 10% 0 10%;
  }
  .sectionSerie .sectionSerieTitulo {
    margin-bottom: 30px;
  }
  .sectionSerie .sectionSerieTitulo h2 {
    font-size: medium;
  }
  .sectionSerie .sectionRepresentantes {
    flex-direction: column;
  }
  .sectionSerie .sectionRepresentantes .equipoPais {
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    height: 330px;
  }
  .sectionSerie .sectionRepresentantes .equipoPais .card {
    overflow: hidden;
  }
  .sectionSerie .sectionRepresentantes .equipoPais .card .col-md-4 {
    align-content: center;
  }
  .sectionSerie .sectionRepresentantes .equipoPais .card .col-md-4 img {
    display: none;
  }
  .sectionSerie .sectionRepresentantes .equipoPais .card .col-md-8 iframe {
    height: 200px;
  }
  /*BANNER*/
  .banner {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .publicidad {
    width: 18%;
    height: 30%;
    padding-top: 0px;
  }
  .banner img {
    height: 100%;
  }
  .footer {
    height: fit-content;
  }
  .footer .logoLigaFooter {
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    flex-wrap: wrap;
    align-self: center;
  }
  .footer .logoLigaFooter .imagenFooter {
    width: 18%;
  }
  .footer .copyright {
    height: 10%;
    margin: 0;
    padding-top: 2%;
  }
  .footer .copyright .textoCopy {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
