* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



/*todos los body*/
body {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  
    

}

.bodyGrid{
   
    display: grid;
    grid-template-areas: 
    ". header header ."
    "nav nav nav nav"
    ". main main ."
    ". section section ."
    ". banner banner ."
    "footer footer footer footer";
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 18vh 10vh 1fr 1fr 0.10fr 0.3fr
}

.gridEquipos{
   
    display: grid;
    grid-template-areas: 
    ". header header ."
    "nav nav nav nav"
    ". section section ."
    ". banner banner ."
    "footer footer footer footer";
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 18vh 10vh 0.5fr 25vh 25vh
}

.gridSedes{
    display: grid;
    grid-template-areas: 
    ". header header ."
    "nav nav nav nav"
    ". section section ."
    ". banner banner ."
    "footer footer footer footer";
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 18vh 10vh 1fr 25vh 25vh
}

.gridSerie{
    display: grid;
    grid-template-areas: 
    ". header header ."
    "nav nav nav nav"
    ". main main ."
    ". section section ."
    ". banner banner ."
    "footer footer footer footer";
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 18vh 10vh 0.5fr 1fr 25vh 25vh

}

.gridContacto{
    display: grid;
    grid-template-areas: 
    ". header header ."
    "nav nav nav nav"
    ". main main ."
    ". banner banner ."
    "footer footer footer footer";
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 18vh 10vh 1fr 25vh 25vh;
}









/*HEADER*/

header{
    
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
    
    
}

.logoHeader {
       
    padding-top: 1.15%;
    padding-left: 1.15%;
    height: 100%;
    width: fit-content;
    
    
    
}

.logoHeader img{
    width: fit-content;
    height: 80%;
   
}

.redesSociales{
    text-align: center;
    
    align-self: center;
    width: 35%;
    

}

.redesSociales ul{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

}

.redesSociales li{
    list-style-type: none;
    
}


.redesSociales a i{
    
    color: #00244f;

    font-size: 180%;
}

.redesSociales a i:hover{
    color: rgb(51,122,183);
    font-size: 240%;
    transition: all 200ms ease;
}




/*NAVEGADOR*/
nav{
    background-color: #00244f;
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-content: center;
    position: sticky;
    top: 0px;
    z-index: 2; 
    .listaNav{       
        list-style-type: none;
        text-decoration: none;
        font-size: 120%;
        width: 80%;    
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-around;
        margin-bottom: 0%;   
          
    }   
    
}




nav li{
    background-color: #00244f;    
    list-style-type: none;
    align-self: center;
    justify-self: center;

}

nav li a{    
    text-decoration: none;
    color: #ffffff;

}



nav li a:hover{
    color: rgb(51,122,183);
    font-size: 120%;
    transition: all 300ms ease;
}

nav li a i:hover{
    font-size: 120%;
}




/*MAIN DEL INDEX*/
main{

    
    padding-top: 20px;
    grid-area: main;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
    
}

.main1{
    
    height: auto;
    text-align: center;
    color: #00244f;
    margin-bottom: 15px;
    .tituloPag {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .tituloIndex {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
}

.main2{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .mainIzq{
        padding-right: 2%;
         width: 60%;
        height: auto ;

        .carrusel{
            overflow: hidden;
            ul{
                display: flex;
                animation: cambio 10s linear infinite   ;
                width: 400%;
                height: 100%;
                margin-bottom: 0;
                padding-left: 0;
                li{
                    width: 25%;
                    list-style: none;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            
            } 
            @keyframes cambio{
                0%{margin-left: 0;}
                20%{margin-left: -0;}
            
                25%{margin-left: -100%;}
                45%{margin-left: -100%;}
            
                50%{margin-left: -200%;}
                70%{margin-left: -200%;}
            
                75%{margin-left: -300%;}
                100%{margin-left: -300%;}
            
            } 
            
        }

        
    }

}



.mainDer{
    
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;

    .multimedia{
        width: 100%;
        height: 45%;

        iframe{
            width: 100%;
            height: 100%;
            
        }
    }

    .mainTitulares{
        overflow: hidden;
        height: auto;

        h2{
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 20px;
            color: #00244f;
            
        }

        .titulares{    
            height: max-content;
            .listaTitular{    
                height: fit-content 
                            
            }

            .listaTitular li{
                width: auto;
                height: auto;
                white-space: nowrap;
                list-style-position: inside;
                list-style-type: disc;
                overflow: hidden;
                padding-bottom: 0%;         
                       
            }
            
            .a1{
                color: #00244f;
            }

            .b1{
                color: rgb(51,122,183);
            }

            .c1{
                color: #c7c7c7;
            }

            li a{
                color: black;
                text-decoration: none;        
                
            }   
        }       
        
    }


    
}


/*MAIN SERIE DEL CARIBE*/

.mainCaribe{
    display: flex;
    flex-direction: column;
    .tituloPagina {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 80px;
        
    }
    #videoMain2{
        height: 600px;
        width: 100%;
        margin-bottom: 35px;
    
    }
    .texto p{
        font-size: x-large;
        margin-bottom: 80px;
    }
}

/*MAIN CONTACTO*/

.mainContacto {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .tituloContacto{
        text-align: center;
        margin-top: 80px;
    }

    .formulario{
        
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        

        .formContacto{
            
            width: 35%;
            
        }
    }
}







/*SECTION*/
.sectionIndex{
   
    grid-area: section;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 80px;
    height: auto;
    .hr img{
        width: 100%;
        height: 10%;        
    }    
}

.sectionSuperior{
    
    display: flex;
    flex-direction: row;
    height: 99%;
    width: 100%;
    margin-bottom: 35px;
    .sectionTabla{    
        width: 100%;
        height: 85%;
    }
    .sectionTabla h2{
        text-align: center;
        color: #00244f;
        margin-bottom: 10px;
    }
    .sectionTabla img{
        width: 100%;
        height: 90%;
        
    }
}
/*SECCION EQUIPOS*/

.sectionEquipos{
   
    grid-area: section;
    margin-top: 60px;    
    display: flex;
    flex-direction: column;
    .cardEquipos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    
        .card{
            width: 30%;
            height: auto;
            margin: 30px 0 20px 0 ;
            box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.92);
            -webkit-box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.92);
            -moz-box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.92);
            .cajaBotones{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                    
            }
    
            button a{
                color: #003576;
                text-decoration: none;
                
            }
                
            
            
        }
    }
    .hr {
        img{
            width: 100%; 
        }
        
    }

}


/*SECCION SEDES*/

.sectionSedes{
    
    grid-area: section;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .tituloPagina {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 80px;
        
    }
    .texto p{
        font-size: x-large;
        margin-bottom: 80px;
    }
    .card {
        width: 40%;
        height: 30%;
        margin: 80px 0 120px 0;
        height: fit-content;
        box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.92);
        -webkit-box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.92);
        -moz-box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.92);

        img{
            width: 100%;
            height: auto;            
        }

        .card-title a {
            text-decoration: none;
            font-size: medium;
            color: #003576;
        }
        
        p{
            font-size: small;
        }
        
        .cajaBotones{            
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
        }        
        
        button a{
            color: #003576;
            text-decoration: none;
            
        }
        
        
    }
    
}
/*SECCION SERIE DEL CARIBE*/

.sectionSerie{
    
    grid-area: section;
    height: fit-content;
    display: flex;
    flex-direction: column;
    .sectionSerieTitulo{   
        text-align: center;
        height: 5%;
        margin-bottom: 80px;
        margin-top: 50px;
        h2{
            color: #00244f;
        }    
    }

    .sectionRepresentantes{    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .equipoPais{
    
            width: 40%;
            margin-bottom: 120px;
            height: 260PX;
            box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.92);
            -webkit-box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.92);
            -moz-box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.92);
            border: 1px solid #cacaca;
            border-radius: 0px 0px 7px 7px;
            -webkit-border-radius: 0px 0px 7px 7px;
            -moz-border-radius: 0px 0px 7px 7px;

            .banderaPais{
                background-color: #00357681;
                height: 15%;
                display: flex;
                justify-content: space-around;
                margin-bottom: 0%;
                    
            }

            .banderaPais a img{
                width: 100%;
                height: 100%;
                
                
            }
            
            .card{
                border-radius: 0px 0px 7px 7px;
                -webkit-border-radius: 0px 0px 7px 7px;
                -moz-border-radius: 0px 0px 7px 7px;

                .col-md-4 img{
                    z-index: -2;
                }

                .img-fluid {
                    margin-top: 35px;
                }

                .card-body iframe{
                    width: 100%;
                }
                
            }

        }
    }

}

/*BANNER*/
.banner {
    
    grid-area: banner;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .publicidad{
        padding-top: 30px;
        align-self: center;
        width: 15%;
        height: 100%;

        .pub1{
            height: 70%;
            align-self: center;
        }
    }

    img {
        align-self: center;
        width: 100%;
    }
    
}
/*FOOTER*/
footer{
    background-color: #00244f;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .logoLigaFooter{
    
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        justify-self: center;
        height: 80%;

        .imagenFooter{    
            padding-top: 1%;
            width: auto;
            height: 100%;           
        
        }

        .imagenFooter a img{    
            max-width: 100%;
            max-height: 90%;
            justify-content: center;
            align-content: center;             
        }
    
    } 

    .copyright{
    
        color: rgb(255, 255, 255);
        font-size: 10px;
        text-align: center;
        padding-top: 0.7%;
        height: 20%;       
        
    }  
    
}



/*RESOLUCION DE 1024PX*/

@media screen and (max-width: 1024px) {

    .bodyGrid{
        height: fit-content;
        grid-template-columns: 10% 1fr 1fr 10%;
        grid-template-rows: 12vh 10vh 1fr 0.5fr 30vh 25vh
    } 
    

    .redesSociales a i{
    
       
    
        font-size: 90%;
    }
    
    .redesSociales a i:hover{
        
        font-size: 130%;
        
    }
    nav li a{    
        font-size: medium;
    
    }

    .main {
        margin-top: 15px;
    }

    .tituloPag{
        font-size: x-large;
    }



    .main2{      
        flex-direction: row;
        flex-wrap: wrap;    
        
        .mainIzq{
   
            width: 100%;
            padding-right: 0;
            height: fit-content;
            
        }

        .mainDer{   
        
            margin-top: 20px;
        
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            
            .multimedia{
                height: 400px;
            }

            .mainTitulares{

                .titulares{          
                    overflow: hidden;

                    
                }
                .listaTitular li{
                    width: auto;
                                        
                    white-space: normal;
                    list-style-position: inside;
                    list-style-type: disc;
                    overflow: hidden;
                    padding-bottom: 1%;   
                           
                }
            }
            
            .mainTitulares h2{
                margin-top: 10%;
                text-align: center;
                
            }
            
        }
    }

    /*MAIN SERIE DEL CARIBE*/

    .gridSerie{
        grid-template-rows: 18vh 10vh 0.2fr 1fr 18vh 25vh
    }

    .mainCaribe {
        .tituloPagina {
            
            margin-top: 30px;
            margin-bottom: 50px;
            
        }
        #videoMain2{
            height: 400px;
            
        }
        .texto p{
            font-size: medium;
        }
    }



    /*main contacto*/

 .mainContacto {
        .formulario {
            margin-top: 80px;
            

            .formContacto{
                width: 100%;
                padding: 0 2% 0 2%;
            }
        }

    }
    /*section index*/

    .subtituloTabla {
        font-size: x-large;
    
        img {
            height: auto;
        }
    }



    /*section equipos*/

    .gridEquipos{
   
        grid-template-columns: 10% 1fr 1fr 10%;
        grid-template-rows: 12vh 10vh 0.5fr 25vh 25vh
    }
   

    .sectionEquipos{

        .cardEquipos{

            .card{
                width: 40%;
            }

        }
    }


    /*section sedes*/

    .gridSedes{

       grid-template-rows: 18vh 10vh 85% 18vh 25vh
    }
    
    .sectionSedes{

        .textoSedes p{
            font-size: larger;
            
            
        }

        .card {
            width: 40%;
            height: auto;
        }
    } 
   

    /*section serie del caribe*/

    .sectionSerie{

        .sectionRepresentantes{    
        
            flex-direction: column;

            .equipoPais{
    
                width: 100%;
                margin-bottom: 80px;
                height: 300px;
                

                
            }
    
        }
        

        
    } 


 

   
}

/*RESOLUCION DE 768PX*/

@media screen and (max-width: 768px) {
    .bodyGrid{        
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "section"
        "banner"
        "footer"; 
        grid-template-columns:100%;
        grid-template-rows: 12vh 10vh 0.75fr 1fr 17vh 15vh
    }  

    .header{
        padding: 0 10% 0 10%;
    }
    .redesSociales {
       width: 55%;
    }

    .redesSociales a i{
    
        font-size: 70%;
    }
    
    .redesSociales a i:hover{
       
        font-size: 120%;
        
    }
 

    nav li a{    
        font-size: small;
    
    }

    nav li a:hover{
        
        font-size: 80%;
        
    }

    .main{
        height: fit-content;
        padding: 0 10% 0 10%;
    }

    .tituloPag{
        font-size: medium;
    }

    .main2{
        
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    
    }

    .multimedia{
        height: 150px;
        
    }

    .titulares{
    
        height: auto;
    }
    
    .listaTitular{
        
       
       height: fit-content;
       padding: 0;


    
    }
    
    
    .listaTitular li{
        width: auto;
        height: auto;
        white-space: nowrap;
        list-style-position: inside;
        list-style-type: disc;
        overflow: visible;
        padding: 0%;   
               
    }

    .gridEquipos{
   
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "section"
        "banner"
        "footer";
        grid-template-columns: 1fr ;
        grid-template-rows: 12vh 10vh 1fr 18vh 25vh
    }

    .gridContacto{
        grid-template-areas: 
        "header"
        "nav "
        "main"
        "banner"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 12vh 10vh 70% 15vh 25vh;
        

    }



    /*MAIN CARIBE*/

    .gridSerie{
        grid-template-areas:
        "header"
        "nav"
        "main"
        "section"
        "banner"
        "footer";
        grid-template-columns: 1fr; 
        grid-template-rows: 12vh 10vh 13% 77% 15vh 25vh;
    }

    .mainCaribe {
        padding: 0 10% 0 10%;
        .tituloPagina {
            
            margin-top: 10px;
            margin-bottom: 20px;
            
        }
        #videoMain2{
            height: 200px;
            
        }
        .texto p{
            font-size: x-small;
        }
    }

    /*MAIN CONTACTO*/

    .mainContacto {
        .formulario {
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .formContacto{
                width: 100%;
                padding: 0 10% 0 10%;
            }
        }

    }


    /*section index*/




    .sectionSuperior{
        flex-direction: column;
        padding: 0 10% 0 10%;

    }

    .sectionTabla {
        margin-bottom: 60px;
    }

   #tablaPosicion{
    width: 100%;
   }

   /*section equipos*/


    .sectionEquipos {
        padding: 0 10% 0 10%;
        .cardEquipos {
            .card{
                width: 100%;
                overflow: hidden;

                .card-title {
                    font-size: small;
                }

                .card-text {
                    font-size: x-small;
                }
            
                .list-group-item{
                    font-size: xx-small;
                }
            }
             
            
        }
    }

    

  



    /*section sedes*/

    .gridSedes{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "section"
        "banner"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 12vh 10vh 95% 15vh 28vh;
    }
    .sectionSedes{
    
        padding: 0 5% 0 5%;
        .tituloPagina{
            margin: 20px 0 20px 0;
        }
        .texto p{
            font-size: smaller;
            margin-bottom: 50px;
        }
    }
    
    .sectionSedes .card {
        width: 100%;
        height: auto;

   
        
    }

    /*SECTION SERIE DEL CARIBE*/

   .sectionSerie{
        padding: 0 10% 0 10%;

        .sectionRepresentantes{    
        
            flex-direction: column;

            .equipoPais{
    
                width: 100%;
                margin-bottom: 80px;
                overflow: hidden;
                height: 330px;
                .card{
                    overflow: hidden;
                                        
                    .col-md-4{
                        align-content: center;
                        img {
                            display: none;
                        }
                    }
                    .col-md-8{
                        iframe{
                            height: 200px;
                        }
                    }
                    
                }

                
            }
    
        }
        

        
    } 
    
    
  
    /*BANNER*/
    .banner{
        flex-direction: row;
        flex-wrap: wrap;
       
    
    }

    .publicidad{
        
        width: 18%;
        height: 30%;
        padding-top: 0px;
    }

    .banner img{
        height: 100%;
    }
    


    .footer{
        height: fit-content;
        .logoLigaFooter{
            margin-top: 10px;
            margin-bottom: 10px;
            height: auto;
            flex-wrap: wrap;
            align-self: center;
            .imagenFooter{
                width: 18%;                  
            }            
        }
        .copyright{
            height: 10%;
            margin: 0;
            padding-top: 2%;
            .textoCopy{
                margin: 0;
            }
        }
    }



    
    
  



    

}